<!-- ========== Topbar Start ========== -->
<div class="navbar-custom">
    <div class="topbar container-fluid">
        <div class="d-flex align-items-center gap-1">

            <!-- Topbar Brand Logo -->
            <div class="logo-topbar">
                <!-- Logo light -->
                <a href="/admin/dashboard" class="logo-light">
                    <span class="logo-lg">
                       <img src="/assets/images/logo.png" alt="logo" style="width: 100%; height: 50px;" >
                    </span>
                    <span class="logo-sm">
                        <img src="/assets/images/logo-sm.png" alt="small logo">
                    </span>
                </a>

                <!-- Logo Dark -->
                <a href="/admin/dashboard" class="logo-dark">
                    <span class="logo-lg">
                        <img src="/assets/images/logo.png" alt="dark logo" style="width: 100%; height: 50px;" >
                    </span>
                    <span class="logo-sm">
                        <img src="/assets/images/logo-sm.png" alt="small logo" >
                    </span>
                </a>
            </div>

            <!-- Horizontal Menu Toggle Button -->
            <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                <div class="lines">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            
        </div>

        <ul class="topbar-menu d-flex align-items-center gap-3">
            <li class="d-none d-sm-inline-block">
                <div class="nav-link" id="light-dark-mode">
                    <i class="ri-moon-line fs-22"></i>
                </div>
            </li>   

            <li class="dropdown">
                <a class="nav-link dropdown-toggle arrow-none nav-user" data-bs-toggle="dropdown" href="#"
                    role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="account-user-avatar">
                        <img src="/assets/images/users/avatar-1.jpg" alt="user-image" width="32"
                            class="rounded-circle">
                    </span>
                    <span class="d-lg-block d-none">
                        <h5 class="my-0 fw-normal"><%= admin_name  %> <i
                                class="ri-arrow-down-s-line d-none d-sm-inline-block align-middle"></i></h5>
                    </span>
                 
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                   
                    <a href="/admin-profile" class="dropdown-item">
                        <i class="ri-settings-4-line fs-18 align-middle me-1"></i>
                        <span>Settings</span>
                    </a>
                    <!-- item-->
                    <a href="/Logout" class="dropdown-item">
                        <i class="ri-logout-box-line fs-18 align-middle me-1"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- ========== Topbar End ========== -->

 <!-- ========== Horizontal Menu Start ========== -->
 <div class="topnav" style="background-color: #252B3B;">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="topnav-menu-content" >
                <ul class="navbar-nav">
                    <li class="nav-item dropdown mt-styel-mob">
                        <a class="nav-link dropdown-toggle arrow-none" href="/admin/dashboard"  id="topnav-dashboards"
                            role="button" aria-haspopup="true" aria-expanded="false">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="/admin/leaves-history" id="topnav-apps" role="button" aria-haspopup="true" aria-expanded="false">
                            Leave History 
                        </a>
                       
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="/admin/permission-history" id="topnav-apps" role="button" aria-haspopup="true" aria-expanded="false">
                           Permission History 
                        </a>
                        
                    </li>
                    <li class="nav-item dropdown" style="margin-top:-2px">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Employee <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-apps">
                            <a href="/admin/AddNewEmployee" class="dropdown-item" >Add New Employee</a>
                            <a href="/admin/employees-list" class="dropdown-item" >Employees List</a>
                            <a href="/admin/employees-deleted-list" class="dropdown-item" >Deleted Employees List</a>                             
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="/admin/admin-calender" 
                            role="button" aria-haspopup="true" aria-expanded="false">
                            Calendar
                        </a>
                    </li>
                    <li class="nav-item dropdown mb-styel-mob" style="margin-top:-2px">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reports <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-apps">
                            
                            
                           
                            <a href="/admin/reports" class="dropdown-item" >Leaves Reports</a>
                            <a href="/admin/permission-reports" class="dropdown-item" >Permission Reports</a>
                            
                            
                        </div>
                    </li>
                  
                    
                </ul>
                
            </div>
        </nav>
    </div>
</div>
<!-- ========== Horizontal Menu End ========== -->

<style>
     body{
     touch-action: pan-x pan-y;
    }
    @media (max-width:600px){
    .mb-styel-mob{
        margin-bottom: 15px;
    }
    .mt-styel-mob{
        margin-top: 10px;
    }
    }
    :root {
    --tz-dropdown-font-size: 16px !important;
    }
</style>